/* ---------- font links start ------------ */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



/* ------------- font links end --------------- */
/* -------------- common css part start -------- */
* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}


/* ----------- common css part end ------------- */
/* ------------ variable part start ------------ */
:root {
    --fontfamily: "Ubuntu", sans-serif;
    --primarycolor: #42454A;
}

/* ------------ variable part start ------------ */

/* ---------------- navbar part start ----------------- */
.mainMenu {
    padding-top: 27px;
    padding-bottom: 26px;
    border-bottom: 1px solid #EAE8F3;
}

.logo {
    padding: 0;
    margin-right: 0;
    width: 70px;
}

.menuItems ul {
    gap: 75px;
}

.menuItems ul li a {
    font-size: 14px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: var(--primarycolor) !important;
    padding: 0 !important;
    transition: all linear .4s;
}
.menuItems ul li a:hover{
    /* background: #4F1C51; */
    color: #4F1C51 !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
.signButtons ul {
    gap: 24px;
    display: flex;
}

.signButtons ul li a {
    width: 106px;
    height: 48px;
    background: var(--primarycolor);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    transition: all linear .4s;

}

.signButtons ul li a:hover {
    background: #fff;
    /* transform: scale(1.1); */
    color: var(--primarycolor);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* ---------------- navbar part end ----------------- */
/* ----------------- banner part start -------------- */
#banner {
    padding-top: 84px;
    position: relative;
}
.bannerImg{
    position: absolute;
    top: 0;
    right: 0;
    width: 856px;
}
.bannerText h1 {
    font-size: 90px;
    font-family: var(--fontfamily);
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--primarycolor);
    width: 586px;
}
.bannerText h1 span{
    font-weight: 700;
}
.line{
    width: 335px;
    height: 4px;
    background: var(--primarycolor);
    margin-top: 93px;
}
.bannerText p{
    width: 353px;
    font-size: 22px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: var(--primarycolor);
    letter-spacing: 1px;
    margin-top: 62px;
}
/* From Uiverse.io by alexmaracinaru */ 

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #42454A;
    width: 58px;
    height: 58px;
    transition: all 0.3s ease;
    
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #17181A;
    margin-left: 13px;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  .bannerButtons{
    display: flex;
    margin-top: 62px;
  }
  .bannerText h2{
    width: 87px;
    font-size: 18px;
    font-family: var(--fontfamily);
    font-weight: 500;
    color: #414449;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
  }
  .buttonImg{
    width: 88px;
    position: relative;
  }
  .btImg{
    animation: ghoro infinite linear 10s;
  }
  @keyframes ghoro{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }
  .playButton {
    width: 12px;
    height: 15px;
    position: absolute;
    top: 33%;
    left: 39%;
}
/* ----------------- banner part end -------------- */
/* ----------- counterplugin part start ---------- */
.counterPart{
    margin-top: 209px;
    width: 174px;
    height: 137px;
    background: #fff;
    border: 0.66px solid #F4F4F4;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.counterPart h2{
    font-size: 18px;
    font-family: var(--fontfamily);
    font-weight: 700;
    color: var(--primarycolor);

}
.counterPart h2 span{
    font-size: 40px;
    font-weight: 700;
    font-family: var(--fontfamily);
    color: var(--primarycolor);
}
.counterPart p{
    font-size: 13px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: var(--primarycolor);
    margin-top: 18px;
}

/* ----------- counterplugin part end ---------- */

/* ------------------ product part start -------- */
#product{
    padding-top: 127px;
}
.commonHead{
    text-align: center;
}
.commonHead h2{
    font-size: 50px;
    font-family: var(--fontfamily);
    font-weight: 700;
    color: var(--primarycolor);
    margin-bottom: 34px;
}
.commonHead p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--fontfamily);
    color: var(--primarycolor);
}
.productImg{
    margin-top: 21px;
}
.productIcon{
    width: 49px;
}
.productCol{
    margin-top: 143px;
}
.productText{
    display: flex;
    margin-bottom: 34px;
    margin-left: 177px;
    align-items: center;
    gap: 18px;
}
.productText p{
    font-size: 20px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: var(--primarycolor);
}
/* ------------------ product part end -------- */
/* -------------- motor part start ------------ */
#motor{
    padding-top: 126px;
}
.motorImg{
    margin-top: 49px;
}

/* -------------- motor part end ------------ */
/* --------- Accessories part start -------- */
#accessories{
    padding-top: 315px;
}
.accessoriesText h2{
    font-size: 50px;
    font-family: var(--fontfamily);
    font-weight: 700;
    color: var(--primarycolor);
    margin-top: 160px;
    margin-bottom: 33px;

}
.accessoriesText .productText{
    margin-left: 0;
   
}

.accessoriesImg{
    margin-top: 112px;
    width: 878px;
}
.shoppingPart{
    text-align: right;
    margin-bottom: 74px;
}
.shoppingPart .productText{
    margin-left: 0;
   
    
}
.comingSoon{
    width: 570px;
    height: 94px;
    border-radius: 10px;
    border: 2px solid var(--primarycolor);
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.comingSoon h2{
    font-size: 30px;
    font-family: var(--fontfamily);
    font-weight: 700;
    color: var(--primarycolor);
}

/* --------- Accessories part end -------- */
/* ----------- gallery part start -------  */
#gallery{
    padding-top: 127px;
}
.scooterImg{
    width: 633px;
    margin-top: 302px;
    margin-bottom: 55px;
}

.scooterText a{
    width: 570px;
    height: 94px;
    border-radius: 10px;
    border: 2px solid var(--primarycolor);
    font-size: 30px;
    font-family: var(--fontfamily);
    font-weight: 700;
    color: var(--primarycolor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;
}
.qualityPart{
    margin-top: 112px;
    margin-left: 74px;
}
.qualityImg{
    width: 633px;

}
.qualityImg2{
    width: 633px;
    margin-top: 96px;

}
/* ----------- gallery part end ------- */
/* ------------- color part start --------- */
#color{
    padding-top: 128px;
}
/* ------------- color part end --------- */
/* ------------- testimonial part start ---------- */
#testimonial{
    background: #FAFAFA;
    margin-top: 344px;
    padding-top: 78px;
    padding-bottom: 167px;
}
.reviewPart{
    width: 360px;
    height: 366px;
    background: #fff;
    border: 1px solid #D8D8D8;
    margin-top: 41px;
}
.reviewPart .rating{
    display: flex;
    gap: 2px;
    color: #FE8B75;
    justify-content: center;
    padding-top: 52px;
    margin-bottom: 12px;
    
}

.reviewPart p{
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: var(--primarycolor);
    
}
.reviewProfile{
    display: flex;
    justify-content: center;
    margin-top: 47px;
    align-items: center;
    gap: 20px;

}

.reviewText h2{
    font-size: 16px;
    font-family: var(--fontfamily);
    font-weight: 500;
    color: var(--primarycolor);
    margin-bottom: 4px;
}
.reviewText p{
    font-size: 14px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: var(--primarycolor);
    text-align: start;
}


 
    


/* ------------- testimonial part end ---------- */

/* ------------ subscribe part start --------- */
#subscribe{
    padding-top: 121px;
}
.inputMail{
    text-align: center;
    margin-top: 59px;
}
.inputMail input{
    width: 400px;
    height: 81px;
    background: #FAFAFA;
    border: 1.5px solid #F5F5F5;
    border-radius: 10px;
    

}
.inputMail input::placeholder{
    font-size: 20px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: var(--primarycolor);
    padding-left: 38px;
}
.inputMail button{
    width: 196px;
    height: 81px;
    background: var(--primarycolor);
    border-radius: 10px;
    font-size: 20px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: #FBFBFB;

}
/* ------------ subscribe part end --------- */
/* ------------ footer part start --------- */
#endMenu{
    background: #42454A;
    margin-top: 127px;
}
.endMenuItems{
    gap: 105px;
    display: flex;
    justify-content:end;
    
}
.menuCol h2{
    margin-top: 92px;
    font-size: 22px;
    font-family: var(--fontfamily);
    font-weight: 700;
    color: #FBFBFB;
    margin-bottom: 54px;
}
.menuCol ul li a{
    margin-bottom: 25px;
    font-size: 16px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: #FBFBFB;
}
.socialMedia ul{
 display: flex;
 gap: 16px;
}
.socialMedia ul li a{
    width: 38px;
    height: 38px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
/* ------------ footer part end --------- */