/* ---------- font links start ------------ */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



/* ------------- font links end --------------- */
/* -------------- common css part start -------- */
* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}


/* ----------- common css part end ------------- */
/* ------------ variable part start ------------ */
:root {
    --fontfamily: "Ubuntu", sans-serif;
    --primarycolor: #42454A;
}

/* ------------ variable part start ------------ */

/* ---------------- navbar part start ----------------- */
.mainMenu {
    padding-top: 27px;
    padding-bottom: 26px;
    border-bottom: 1px solid #EAE8F3;
}

.logo {
    padding: 0;
    margin-right: 0;
    width: 70px;
}

.menuItems ul {
    gap: 75px;
}

.menuItems ul li a {
    font-size: 14px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: var(--primarycolor) !important;
    padding: 0 !important;
    transition: all linear .4s;
}
.menuItems ul li a:hover{
    /* background: #4F1C51; */
    color: #4F1C51 !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
.signButtons ul {
    gap: 24px;
    display: flex;
}

.signButtons ul li a {
    width: 106px;
    height: 48px;
    background: var(--primarycolor);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    transition: all linear .4s;

}

.signButtons ul li a:hover {
    background: #fff;
    /* transform: scale(1.1); */
    color: var(--primarycolor);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* ---------------- navbar part end ----------------- */
/* ----------------- banner part start -------------- */
#banner {
    padding-top: 84px;
    position: relative;
}
.bannerImg{
    position: absolute;
    top: 0;
    right: 0;
    width: 856px;
}
.bannerText h1 {
    font-size: 90px;
    font-family: var(--fontfamily);
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--primarycolor);
    width: 586px;
}
.bannerText h1 span{
    font-weight: 700;
}
.line{
    width: 335px;
    height: 4px;
    background: var(--primarycolor);
    margin-top: 93px;
}
.bannerText p{
    width: 353px;
    font-size: 22px;
    font-family: var(--fontfamily);
    font-weight: 400;
    color: var(--primarycolor);
    letter-spacing: 1px;
    margin-top: 62px;
}
/* From Uiverse.io by alexmaracinaru */ 

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #42454A;
    width: 58px;
    height: 58px;
    transition: all 0.3s ease;
    
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #17181A;
    margin-left: 13px;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #fff;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  .bannerButtons{
    display: flex;
    margin-top: 62px;
  }
  .bannerText h2{
    width: 87px;
    font-size: 18px;
    font-family: var(--fontfamily);
    font-weight: 500;
    color: #414449;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
  }
  .buttonImg{
    width: 88px;
    position: relative;
  }
  .btImg{
    animation: ghoro infinite linear 10s;
  }
  @keyframes ghoro{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }
  .playButton {
    width: 12px;
    height: 15px;
    position: absolute;
    top: 33%;
    left: 39%;
}
/* ----------------- banner part end -------------- */


/* ------------------ product part start -------- */
#product{
    padding-top: 127px;
}
.commonHead{
    text-align: center;
}
.commonHead h2{
    font-size: 50px;
    font-family: var(--fontfamily);
    font-weight: 700;
    color: var(--primarycolor);
    margin-bottom: 34px;
}
.commonHead p{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--fontfamily);
    color: var(--primarycolor);
}
.productIcon{
    width: 49px;
}
.productText1{
    display: flex;
    margin-top: 143px;
    margin-left: 177px;
}

/* ------------------ product part end -------- */